@import './utillities.scss';
@import './header.scss';
@import './posts.scss';
@import './postDetails.scss';
@import './footer.scss';
@import './comments.scss';



body {
	margin: 0;
	background-color: $dark-background-two;
	height: 100%;
	line-height: 1.4;
	font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
	background-color: $dark-background-one;
	display: grid;
	grid-template-columns: 3fr 7fr;
}


