@import './utillities.scss';

.list {
	 height: 100%;
	 padding-top: 20px;
		padding-left: 20px;
		background-color: $dark-background-two;
		border-right: $color-yellow;
		padding-bottom: 20px;
		color: white;
		.item{
			margin-top: 5px;
			height: auto;
			border-left: 2px solid $color-border;
			cursor: pointer;
			padding-left: 10px;;
			&:hover {
				font-weight: bold;
				color: $color-yellow;

			}
			.title {
				padding-right: 40px;
			}

			}

		}
		@include xs {
			grid-row: 3;
			grid-column: 1 / 4;
		}
	