@import './utillities.scss';

.post-details {
	// padding-top: 20px;
	background-color: $dark-background-one;
	margin-top: 20px 30px 0 30px;
	@include xs {
		grid-row: 2;
		grid-column: 1 / 4;
	}
	.post-content {
		color: white;
		justify-content: center;
		text-align: center;
		border-bottom: 2px solid $color-border;
		height: 30vh;
		h3 {
			padding: 0 15vh 0 15vh;
		}
		p {
			padding: 0 20vh 0 20vh;
		}
	}
}