@import './utillities.scss';

.list {
		padding: 20px;
		background-color: $color-lightblue;
		margin-right: 10px;
		// font-size: 1rem;
		// font-style: bold;
		.item{
			border-bottom: .8rem;
			border-color: $color-darkblue;
			margin-top: 0;
			padding-top: 0;
			button {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				border-radius: 3px;
				border: none;
				font-weight: 400;
				text-align: center;
				transition: background-color 0.25s ease;
				cursor: pointer;
				outline: none;
				background-color: $color-darkblue;
				color: white;
				height: 30px;
				width: 70px;;
			}
		}
		@include xs {
			grid-row: 3;
			grid-column: 1 / 4;
		}
	}